
 * {
    margin:0.1%;
    padding:0%;
    box-sizing: border-box;
    }
 .clear{
     clear: both;
 }
 .header{
        width:100%;
        height:10%;
        margin-top:0.5%;
        padding-right:1%;
        position: fixed;
        z-index: 20;
    }
 .name{
        width:100%;
        height:100%;
        padding-left: 2px;
        background-size: cover;
        background-position: top;
        background-image: radial-gradient(rgba(255, 0, 0, 0),rgba(22, 18, 240, 0),rgba(12, 238, 189, 0)),url(img.jpg);
        
        
     
    }
 .main{
        width:100%;
        height: 120%;
        background-image: radial-gradient(rgba(41, 74, 219, 0.801),rgba(27, 130, 199, 0.925),rgba(33, 46, 224, 0.884)),url(img3.jpg);
        background-size: cover;
        background-color: aqua;
       

    }
 .end{
        width:100%;
        height: 40%;
        background-color: rgb(26, 22, 22);
        background-image: linear-gradient(to right bottom,rgba(23, 20, 211, 0.89),rgba(40, 19, 230, 0.911)),url(img2.jpg);
        background-size: cover;
       
       


    }

 .box{
     width:25%;
     height:40%;
     margin:2%;
     float:left;
     margin-top: 2%;
     margin-bottom: -1%;
     display: flex;
     flex-wrap: nowrap;
 }

 .headingmain{
     animation-name: moveinleft;
     animation-duration: 1.2s;
     animation-timing-function:ease-in-out;
 }
 .headingsub{
     animation-name: moveinright;
     animation-duration:1.2s;
     animation-timing-function: ease-in-out;
 }
 @keyframes moveinleft {
     0%{
         opacity: 0;
         transform: translateX(-100px);
     }
     80%{
         transform: translateX(10px);
     }
     100%{
         opacity: 1;
         transform: translateX(0px);
     }
 }
 @keyframes moveinright {
     0%{
         opacity: 0;
         transform: translateX(100px);
     }
     80%{
         transform: translateX(-10px);
     }
     100%{
         opacity: 1;
         transform: translateX(0px);
     }
 }
 .secmain {
     text-align: left;
     margin-left:9%;
     padding-top:1%;
     font-size: 4em;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color:whitesmoke;
     font-family:sans-serif;
     font-weight: 700;
 }
 .end{
    width:100%;
    height: 40%;
    background-color: rgb(26, 22, 22);
    background-image: linear-gradient(to right bottom,rgba(23, 20, 211, 0.89),rgba(40, 19, 230, 0.911)),url(img2.jpg);
    background-size: cover;
}
.contact{
    
       margin: 4%;
     width:30%;
     height:70%;
     float: left;

}
.imgl{
     margin-top: 6%;
    
     width:7%;
    height:35%;
    float: left;
}

.endf { 
     width: 36%;
     height: 70%;
     text-align: center;
     float: right;
     margin: 4%;
}

.endf a:link,
.endf a:visited{
      text-decoration: none;
      color:wheat;
      font-size: 1.3rem;
}
.endf a:hover{
     
      font-size:1.7rem;
      transition: transform  0.2s;
}
